@use 'abstracts' as *;

@mixin gcBlock{
  .gcBlock{
    overflow: hidden;
    &--bg-cream{
      background: $color-50;
    }
    &--bg-white{
      background: white;
      & .bottom-40::after {
        background-color: $color-yellow !important; /* usa el mismo color del texto */
      }
    }
    
    &--bg-black{
      background: $color-900;
      color: white;
    }
    &--layout-centered{
      --container-max-width: 772px;
    }
  }
  .border-top{
    border-top: 1px solid $color-100;
  }
  .border-bottom{
    border-bottom: 1px solid $color-100;
  }
}
