@use 'abstracts' as *;
@mixin grid-image{
    .grid-image{
        &__content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            align-items: center;
            &--top{
                align-items: flex-start;
            }
        }
        &__left{
            height: 492px;
            order: 0;
            &--change{
                order: 1;
            }
            &-image{
                width: 100%;  /* desde mitad de la pantalla hasta el borde derecho */
                height: 100%;
                object-fit: cover;        /* mantiene proporción */
                object-position: center;  /* centrada */
                aspect-ratio: 3 / 2;      /* relación 3:2 */
            }
        }
        &__right{
            &-eyebrow{
                font-weight: 500;
            }
            &-title .last-text {
                text-decoration: underline;
                text-decoration-color: $color-yellow; /* el color que quieras */
                text-underline-offset: 2px;
            }
        }
        @media screen and (max-width: 930px){
            &__content{
                grid-template-columns: 1fr;
            }
            &__left{
                height: 52.90vw;
                min-height: 294px;
            }
        }
    }
    .bottom-40{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 24px;
        &::after {
            content: "";
            flex-grow: 1;        /* ocupa todo el espacio disponible */
            height: 1px;         /* grosor de la línea */
            background-color: $color-green; /* usa el mismo color del texto */
        }
    }
}