@use 'abstracts' as *;
@mixin grid-icons{
    .grid-icons{
        &__content{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__grid{
            position: relative;
            width: 270px;
            height: 228px;
            border: 1px solid $color-100;
            padding: 0 24px;
            justify-content: center;
            margin-left: -1px;
            &-icons{
                width: 48px;
                height: 48px;
                &-icon{
                    width: 100%;  
                    height: 100%;
                    object-fit: cover;        
                    object-position: center; 
                    aspect-ratio: 3 / 2;
                }
            }
            &-title{
                font-weight: 500;
            }
        }
        @media screen and (max-width: 593px){
            &__grid {
                width: 100%;
            }
            &__content > div:not(:first-child) {
                width: 100%;
                margin-left: 0;
                margin-top: -1px;
            }
        }
    }
}