@use 'abstracts' as *;
@mixin site-footer{
    .site-footer{
        &__top{
            background: $color-yellow;
            &-content{
                min-height: 349px;
                padding-bottom: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .btn-first-button{
                    white-space: nowrap;
                    background-color: $color-900;
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                    cursor: pointer;
                    display: flex;
                    padding: 4px 4px 4px 24px;
                    border-radius: 999px;
                    display: inline-flex;
                    align-items: center;
                    gap: 24px;
                    height: 56px;
                    box-sizing: border-box;
                    transition: border-radius 0.3s ease;
                    &::after{
                        content: "";
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;             // círculo
                        background-color: $color-yellow;        // color de fondo del círculo (cámbialo)
                        display: flex;                  // centrar el ícono
                        align-items: center;
                        justify-content: center;

                        /* SVG como icono */
                        background-image: url("data:image/svg+xml;utf8,<svg width='13' height='13' viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg'><path d='M10.1058 6.875H0V5.625H10.1058L5.35896 0.878125L6.25 0L12.5 6.25L6.25 12.5L5.35896 11.6219L10.1058 6.875Z' fill='%23141A33'/></svg>");
                        background-repeat: no-repeat;
                        background-size: 13px 13px;     // tamaño del SVG
                        background-position: center;
                    }
                }
            }
        }
        &__bottom{
            margin-top: -40px;
            min-height: 508px;
            background: $color-900;
            padding-top: 120px;
            color: white;
            clip-path: polygon(
                40px 0,
                100% 0,
                100% 100%,
                100% 100%,
                0 100%,
                0 40px
            );
            &-content{
                min-height: 360px;
                position: relative;
            }
            &-text{
                width: 424px;
            }
            &-icon-links{
                display: flex;
                justify-content: space-between;
                position: relative;
                bottom: 35px;
            }
            &-font-icon{
                position: relative;
                display: flex;
                z-index: 1;
                justify-content: flex-end;
                align-items: center;
                &-links{
                    white-space: wrap;
                    display: flex;
                    gap: 33px;
                    align-items: center;
                    overflow-x: clip;
                }
                &-link{
                    white-space: nowrap;
                    position: relative;
                    overflow: visible;

                    &::after {
                        content: "";
                        position: absolute;
                        right: -16px;
                        top: 5px;
                        height: 16px;
                        width: 1px;
                        background-color: $color-yellow;
                    }
                    &.is-last-in-row::after {
                        display: none !important;
                    }
                }
                &::before{
                  pointer-events: none;
                    content: "";
                    background-image: url('data:image/svg+xml;utf8,<svg width="388" height="388" viewBox="0 0 388 388" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M387.296 194.003L354.049 227.847L217.75 91.5479V121.457L338.796 242.503L305.549 276.347L217.75 188.548V218.457L290.296 291.003L257.049 324.847L217.75 285.548V387.5H170.25V285.548L169.396 286.401L130.95 324.847L97.7031 291.003L170.104 218.604L170.25 218.457V188.548L169.396 189.401L82.4502 276.347L49.2031 242.503L170.104 121.604L170.25 121.457V91.5479L169.396 92.4014L33.9502 227.847L0.703125 194.003L194 0.707031L387.296 194.003Z" stroke="%23323851" stroke-width="0.4"/></svg>');
                    position: absolute;
                    bottom: -33px;
                    right: -64px; /* 🔥 se mueve 120px hacia fuera del contenedor */
                    width: 388px;
                    height: 388px;
                    background-repeat: repeat-y; /* 🔥 subir repetido verticalmente */
                    z-index: 1;
                }

            }
        }
        @media screen and (max-width: 900px){
            &__top-content{
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 40px;
            }
            &__bottom{
                &-icon-links{
                    flex-direction: column;
                    gap: 40px;
                }
                &-font-icon{
                    justify-content: flex-start;
                }
            }
        }
        @media screen and (max-width: 600px){
            &__bottom-font-icon::before{
                right: -40%; /* 🔥 se mueve 120px hacia fuera del contenedor */
            }
        }
    }
}