@use 'abstracts' as *;
@mixin stats{
    .stats{
        margin-right: -1px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap:40px;

        &__wrap{
            overflow-x: clip;
        }
        &__content{
            display: flex;
            align-items: center;
            gap:40px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: -20px;
                top: 0;
                height: 100%;
                width: 1px;
                background-color: $color-yellow;
            }
            &.is-last-in-row::after {
                display: none !important;
            }
        }
        &__title{
            font-weight: 600;
            white-space: nowrap;
            z-index: 1;
        }
       
        @media screen and (max-width: 1260px){
          &__content{
              flex-direction: column;
          }
        }
        @media screen and (max-width: 900px){
            grid-template-columns: 1fr;
            &__content{
                padding-bottom: 40px;
                border-bottom: 1px solid $color-yellow;
                &::after{
                    display: none;
                }
                &:last-child{
                    border: none;
                    padding: 0;
                }
            }
        }
    }
}