@use "abstracts" as *;
@mixin stickyHeader{
  .stickyHeader{
    transition: all 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.sticky{
      position: fixed;
      top: 0;
      opacity: 0;
      transform: translateY(-50%);
      pointer-events: none;
      transition: all 0.2s ease;
    }

    &.in{
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0);
      animation: stickyIn 0.4s ease;
    }
  }
}


@keyframes stickyIn {
  from{
    opacity: 0;
    transform: translateY(-50%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}